.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #212222;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 2px solid #edbe80;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 208, 0, 0.3);
}

.formActions {
  display: flex;
  gap: 1rem;
}

.submitButton {
  background-color: #212222;
  color: #edbe80;
  border: 1px solid rgb(233, 191, 141);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.submitButton:hover {
  filter: brightness(140%);
}

.cancelButton {
  background-color: #607D8B;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.cancelButton:hover {
  filter: brightness(140%);
}

@media (max-width: 768px) {
  .formContainer {
    padding: 1rem;
  }
}