.formContainer {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  margin-bottom: 2rem;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  display: block;
  font-weight: 500;
  margin: .5rem 0rem;
  color: #212222;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  font-family: unset;
}

.input:focus {
  outline: none;
  border-color: #2684ff;
}

.formActions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.submitButton {
  background-color: #3f51b5;
  color: white;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.submitButton:hover {
  filter: brightness(140%);
}

.cancelButton {
  background-color: #607D8B;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 500;
}

.cancelButton:hover {
  filter: brightness(140%);
}

@media (max-width: 768px) {
  .formContainer {
    padding: 1rem;
  }
}